.category {
    display: flex;
    justify-content: center; /* 水平居中 */
    gap: 20px; /* 控制 Card 之间的间距 */
    flex-wrap: wrap; /* 让卡片在屏幕变小时自动换行 */
}

.category > div {
    display: flex;
    justify-content: center;
  }