.footer {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: Bisque;
}

.footer .footer-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
}

.footer .footer-head {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
}

/* .footer-item > div {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} */

.footer-head h3 {
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: darkorange;
}

.footer-item .footer-follow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-link .navItem {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    position: relative;
    right: 181px;
}

/* .footer-item .footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */


