.pet {
    background-color: floralwhite;
    flex-direction: column;
    align-items: center;
}

.pet-card {
    margin-top: 100px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.pet .home-footer {
    margin-top: 100px;
}